/*Color de fondo*/
body {
    background-color: #1A1A1B;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.introduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

h1 {
    text-align: center;
    margin-top: 36px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #C5A059;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #C5A059;
    letter-spacing: 2px;
}

p {
    color: #E0E0E0;
    text-align: center;
    max-width: 750px;
    margin-top: 30px;
}

/*Remarcamos la sección del navegador conforme la página que nos encontramos*/
.actual {
    color: rgb(212, 176, 140);
}

/*Enlaces sin subrayado y que pillen el color que tenga ese div o esa parte */
a {
    text-decoration: none;
    color: inherit;
}

/* Crear barra navegación (Horizontal vaya) */
nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(15, 24, 32);
    align-items: stretch;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Menu de navegación de elementos lista*/
nav ul li {
    color: white;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}

/*Submenu de la guía se deberia de desplegar cuando se pasa raton*/
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(15, 24, 32);
    min-width: 189px;
    padding: 0;
    flex-direction: column;
}

/*Que se muestre el menu de debajo guia ejercicios, y funcione como submenu cuadno pasas raton*/
nav ul li:hover>ul {
    display: flex;

}

/*Que cada uno de submenu vayan uno abajo otro*/
nav ul li ul li {
    display: block;

}

/*Que se ponga cada uno completo del submenu*/
nav ul li ul li a {
    display: block;
    padding: 10px;
    text-align: center;
}

/*Estilos de los enlaces pa que no parezcan cuadrados pequeños, se rellene entero vaya*/
nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    height: 100%;
    transition: background-color 0.6s;
    box-sizing: border-box;
}

/*Pa poner lo que hace cuando pasas raton encima de los enlaces*/
nav ul li a:hover,
.guia:hover {
    background-image: linear-gradient(to right, rgba(129, 108, 103), rgba(93, 77, 73));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/*Configuraciones varias del footer para colores, y formato del mismo.*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #554028;
    margin-top: 10px;

}

.izquierda,
.medio,
.derecha {
    flex: 1;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

/*Configuración para logo de redes sociales y correo este bien*/
.medio img {
    width: 25px;
    height: auto;
}

.medio li p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 50px;
}

.derecha img {
    width: 30px;
    height: auto;
}

.derecha li p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*Hacer que el menu vaya abajo con pantalla,*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    /*Esto es pa que si fuesen capas el menu este en la mas alta y se vea siempre*/
}
/* Configuraciones para que no pete en pantallas pequeñas (pantallas de 480px o menos) */
@media screen and (max-width: 480px) {

    /*Aspectos visuales del menu de navegación*/
    nav > ul {
        flex-direction: column; /* Menú en vertical */
        height: auto;
        display: flex;
    }

    nav ul li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    nav ul li a {
        width: 100%;
        padding: 20px; 
        text-align: center;
    }

    /*  estático para que no este en medio  del contenido y empuje el resto */
    nav ul li ul {
        position: static; 
        width: 100%;
    }

    /* div de Introducción */
    .introduccion {
        padding: 0 20px; 
    }

    p {
        max-width: 100%; 
        font-size: 16px; 
    }

    h1 {
        font-size: 28px;
        margin-top: 20px;
    }

    /* Footer que se vea bien y eso */
    footer {
        flex-direction: column; 
        gap: 20px;
        padding: 30px 10px;
    }

    .izquierda, .medio, .derecha {
        width: 100%;
    }

    .medio li p {
        margin-right: 0; 
    }

    .ft {
        width: 100px;
        height: auto;
    }

    footer ul li {
        margin-bottom: 15px;
    }
}