.logo {
    display: flex;
    justify-content: center;
}

.lema {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.descrp {
    color: rgb(0, 255, 55);
}

.main {
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    background-color: yellow;
    font-size: medium;
    align-self: center;

}

.tod {
    border-radius: 20px;
    background-color: seagreen;
    display: block;
    margin: 10px auto;
}
.globos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 36px;
}
.precios1, .precios2 {
    background-color: white;
    border-radius: 50%;
    padding: 40px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



p {
    color: rgb(174, 0, 255);
}