/*Imagen de fondo*/
body {
    background-image: url(ImagenesHome/Gemini_Generated_Image_ng0t8fng0t8fng0t.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Configuración de las letras encima del mapa*/
.tdireccion {
    color: rgb(245, 245, 220);
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/*Configuración para que al pasar el raton por la guia de ejercicios parezca clickable, por estetica vaya*/
.guia {
    cursor: pointer;
}

/*Enlaces sin subrayado y que pillen el color que tenga ese div o esa parte */
a {
    text-decoration: none;
    color: inherit;
}

/*Hacer que el menu vaya abajo con pantalla,*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    /*Esto es pa que si fuesen capas el menu este en la mas alta y se vea siempre*/
}

/* Crear barra navegación (Horizontal vaya) */
nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(15, 24, 32);
    align-items: stretch;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Menu de navegación de elementos lista*/
nav ul li {
    color: white;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}

/*Submenu de la guía se deberia de desplegar cuando se pasa raton*/
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(15, 24, 32);
    min-width: 189px;
    padding: 0;
    flex-direction: column;
}

/*Que se muestre el menu de debajo guia ejercicios, y funcione como submenu cuadno pasas raton*/
nav ul li:hover>ul {
    display: flex;

}

/*Que cada uno de submenu vayan uno abajo otro*/
nav ul li ul li {
    display: block;

}

/*Que se ponga cada uno completo del submenu*/
nav ul li ul li a {
    display: block;
    padding: 10px;
    text-align: center;
}

/*Estilos de los enlaces pa que no parezcan cuadrados pequeños, se rellene entero vaya*/
nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    height: 100%;
    transition: background-color 0.6s;
    box-sizing: border-box;
}

/*Pa poner lo que hace cuando pasas raton encima de los enlaces*/
nav ul li a:hover,
.guia:hover {
    background-image: linear-gradient(to right, rgba(129, 108, 103), rgba(93, 77, 73));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/*Ajustes del logo*/
.logo {
    display: flex;
    justify-content: center;
}

/*Configruación del div donde va el logan*/
.lema {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

/*Configuraciones de letras y color para el logan*/
.logan {
    color: rgb(245, 245, 220);
    font-size: large;
    margin-bottom: -10px;
}

/*Boton de ver todos los planes NO TOCAR QUE HA COSTADO DEMASIADO */
.tod {
    background-color: rgb(42, 39, 37);
    color: rgb(212, 176, 140);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    border-radius: 55px;
    padding: 10px 30px;
    border: 2px solid rgb(212, 176, 140);
    outline: 1px solid rgb(212, 176, 140);
    outline-offset: -5px;
    display: flex;
    align-items: center;
    border-style: double;
    margin: 0 auto;
    width: fit-content;
    cursor: pointer;
}

/*Antiguo 
.tod {
    border-radius: 20px;
    background-color: seagreen;
    display: block;
    margin: 10px auto;
}
*/
.globos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 36px;
    flex-wrap: wrap;
    gap: 20px;
}

.precios1,
.precios2 {
    border-radius: 38%;
    padding: 40px;
    width: 100%;
    max-width: 280px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.precios1,
.precios2 {
    background-color: rgb(42, 39, 37);
    color: rgb(212, 176, 140);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    border: 2px solid rgb(212, 176, 140);
    outline: 1px solid rgb(212, 176, 140);
}

/*Por defecto todas las etiquetas p tengan este color pa no estar repitiendo*/
p {
    color: rgb(212, 176, 140);
}


/*Esto hace el mapa no sea enorme ni pequeño tipo que sea a su medida siempre.*/
iframe {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    filter: invert(90%) hue-rotate(180deg) brightness(95%) contrast(90%);
    /*Comando buscado para simular modo noche en el mapa.*/
}

/* Configuraciones para que no pete en pantallas pequeñas (pantallas de 480px o menos) */
@media screen and (max-width: 480px) {
/*Aspectos visuales del menu de navegación*/
    nav>ul {
        flex-direction: column;
        height: auto;
    }
    
    nav ul li {
        width: 100%;
        justify-content: center;
    }

    nav ul li a {
        padding: 15px;
        width: 100%;
        text-align: center;
    }

    /* Oculta el submenú en móvil  para que no flote */
    nav ul li ul {
        position: static;
        width: 100%;
    }
    /*Sin esto el apartado de guia de ejercicios tiene un pequeño error visual*/
    .guia{
        padding: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    /*Ajusta globos*/
    .globos {
        flex-direction: column;
        gap: 10px;
    }

    .precios1,
    .precios2 {
        aspect-ratio: auto;
        border-radius: 20px;
        width: 80%;
        height: auto;
        padding: 20px;
    }

    /* texto y el mapa bien */
    .lema {
        text-align: center;
        padding: 0 10px;
    }

    /*Ajustes mapa*/
    iframe {
        width: 95%;
        height: 300px;
    }
}