/*Enlaces sin subrayado y que pillen el color que tenga ese div o esa parte */
a {
    text-decoration: none;
    color: inherit;
}

/* Crear barra navegación (Horizontal vaya) */
nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(15, 24, 32);
    align-items: stretch;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Menu de navegación de elementos lista*/
nav ul li {
    color: white;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}

/*Submenu de la guía se deberia de desplegar cuando se pasa raton*/
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(15, 24, 32);
    min-width: 189px;
    padding: 0;
    flex-direction: column;
}

/*Que se muestre el menu de debajo guia ejercicios, y funcione como submenu cuadno pasas raton*/
nav ul li:hover>ul {
    display: flex;

}

/*Que cada uno de submenu vayan uno abajo otro*/
nav ul li ul li {
    display: block;

}

/*Que se ponga cada uno completo del submenu*/
nav ul li ul li a {
    display: block;
    padding: 10px;
    text-align: center;
}

/*Estilos de los enlaces pa que no parezcan cuadrados pequeños, se rellene entero vaya*/
nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    height: 100%;
    transition: background-color 0.6s;
    box-sizing: border-box;
}

/*Pa poner lo que hace cuando pasas raton encima de los enlaces*/
nav ul li a:hover {
    background-image:linear-gradient(to right, rgba(129, 108, 103),rgba(93, 77, 73));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.logo {
    display: flex;
    justify-content: center;
}

.lema {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.descrp {
    color: rgb(0, 255, 55);
}

.main {
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    background-color: yellow;
    font-size: medium;
    align-self: center;

}
/*Boton de ver todos los planes NO TOCAR QUE HA COSTADO DEMASIADO */
.tod {
    background-color: rgb(42, 39, 37);
    color: rgb(212, 176, 140);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    border-radius: 55px;
    padding: 10px 30px;
    border: 2px solid rgb(212, 176, 140);
    outline: 1px solid rgb(212, 176, 140);
    outline-offset: -5px;
    display: flex;
    align-items: center;
    border-style: double;
    margin:0 auto;
    width: fit-content;
    cursor:pointer;
}
/*Antiguo 
.tod {
    border-radius: 20px;
    background-color: seagreen;
    display: block;
    margin: 10px auto;
}
*/
.globos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 36px;
    flex-wrap: wrap;
    gap: 20px;
}

.precios1,
.precios2 {
    border-radius: 38%;
    padding: 40px;
    width: 100%;
    max-width: 280px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}
.precios1 {
    background-color: brown;
}
.precios2 {
    background-color: aqua;
}



p {
    color: rgb(174, 0, 255);
}
/*Esto hace el mapa no sea enorme ni pequeño tipo que sea a su medida siempre.*/
iframe {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
}
/*Apartado para que si la pantalla tiene el ancho de 480 max 
(Valor sacado por pruebas simulando en chrome el maximo de un tlf y eso) pues que no pete*/
@media (max-width: 480px) {
    nav > ul {
        flex-wrap: wrap; /* Permite que los botones bajen si no cabenEsta opcion hace que las opciones del menu arriba no peten y se "modifiquen" tipo de ponen abajo */
        justify-content: center;
        height: auto; 
    }

    nav ul li a {
        padding: 10px 8px; /* Reducimos el espacio lateral */
        font-size: 13px;    /* Un pelo más pequeña la letra */
        text-align: center;
    }
}